algokit==2.9.1
algokit-utils==4.2.1
algorand-python==3.0.0
algorand-smart-contract-library @ git+https://github.com/Folks-Finance/algorand-smart-contract-library.git@f0a9e8cbae3295129d2bed63a6fcdbf5a2e0047b
puyapy==5.2.0
py-algorand-sdk==2.11.1
setuptools==80.9.0
